<div class="banner">
 <div class="container pt-6 text-end">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-light mt-3"%>
    <% else %>
      <a class="btn btn-light mt-3" href="/users/sign_in">Log in</a>
    <% end %>
  </div>
  <div class="container">
    <h1 class="text-white pt-3">PostFree</h1>
    <p class="text-white">Where true and relevant information is made.</p>
  </div>
</div>


<div id="hub_article">
	<div id="main_container">
		<div id="title_page" class="text-center">Articles available</div>
		<div id="container">
		<hr>
        <% @posts.each do |post| %>
          <div class="card_article">
            <div id="img_article">
              <a href="#"><img src=<%= post.img %>/></a>
            </div>
            <div class="under_img">
              <div id="title_article">
                <span><%= post.title %></span>
              </div>
              <div id="desc_article">
                <span><%= post.content.first(100)%>...</span>
              </div>
              <div>
              <%= link_to "Read more", post_path(post), class: "btn btn-secondary button_article" %>
              </div>
            </div>
          </div>
        <% end %>
		</div>
	</div>
</div>
